@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxygen:700&display=swap');


.contactBlock {
    display: flex;
    width: 70%;
    margin: 100px auto;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 3px;
}

.contactInfo {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
}

.contactForm {
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-radius: 10px;
    margin-bottom: 50px;
}

.contactForm input {
    letter-spacing: 3px;
    width: 80%;
    font-size: 1.1em;
    margin-bottom: 40px;
    padding: 20px;
    background: transparent;
    color: rgba(255, 255, 255, 0.575);;
    border: none;
    border-bottom: solid rgb(255, 255, 255) 1px;
    opacity: 0.9;
    outline: none;
    font-family: 'Oxygen', sans-serif;
}

.contactForm input::placeholder {
    color: rgba(255, 255, 255, 0.76);
    font-family: 'Oxygen', sans-serif;
    transition: 0.8s;
    font-size: 1.3em;
}

.contactForm input:hover::-webkit-input-placeholder {
    color: rgba(146, 146, 146, 0.322);
    font-size: 0.5em;
    transition: 0.8s;
}

.contactForm textarea {
    letter-spacing: 3px;
    margin-bottom: 40px;
    padding: 10px;
    background: transparent;
    color: rgba(255, 255, 255, 0.822);
    border: none;
    border-bottom: solid rgb(255, 255, 255) 1px;
    opacity: 0.9;
    outline: none;
    resize: none;
    font-family: 'Oxygen', sans-serif;
    width: 80%;
    font-size: 1.3em;
}

.contactForm button {
    letter-spacing: 3px;
    padding: 30px 40px;
    color: white;
    font-size: 1.5em;
    border: white 1px solid;
    border-radius: 5px;
    background: rgba(194, 2, 2, 0.562);
    transition: 1s;
    font-family: 'Oxygen', sans-serif;
}

.contactForm button:hover {
    background: rgba(255, 255, 255, 0.842);
}

#popUp {
    font-size: 2em;
    color: white;
    position: absolute;
    left: 50%;
    padding: 25px;
    transform: translateX(-50%);
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    background-color: rgba(224, 19, 19, 0.774);
    font-family: 'Oxygen', sans-serif;
    z-index: 1;
    transition: 1s;
}

/* MOBILE */
@media (max-width: 575px) {
    .contactForm {
        margin-bottom: 20px;
        width: 80%;
        transition: 1s;
    }

    .contactForm textarea {
        width: 80%;
    }
   
}