@import url('https://fonts.googleapis.com/css?family=Oxygen:700&display=swap');


.logoTitle {
    font-size: 3.5em;
    color: white;
    font-family: 'Oxygen', 'sans-serif';
    position: relative;
    margin-top: 150px;
    transition: 1s;
}

.logoTitle span {
    color: red;
}


/*  SEMI LARGE PAGE */

@media (max-width: 1200px) {
    .logoTitle {
        font-size: 3.5em;
    }
}

/* TABLET PAGE */

@media (max-width: 949px) {
    .logoTitle {
        font-size: 2.3em;
    }
  }

/* MOBILE PAGE */

@media (max-width: 575px) {

    .logoTitle {
        font-size: 1.33em;
    }

    .homeBlock {
        align-items: center;
        text-align: center;
        margin: 50px auto;
        height: 100%;
        width: 80%;
    }

}